[submodule "src/homn/thirdparty/optiboot"]
	path = src/homn/thirdparty/optiboot
	url = https://github.com/Optiboot/optiboot.git
[submodule "src/phlox/lib/perthensis"]
	path = src/phlox/lib/perthensis
	url = https://codeberg.org/scy/perthensis.git
	branch = next
[submodule "src/phlox/lib/votonic"]
	path = src/phlox/lib/votonic
	url = https://codeberg.org/scy/votonic.git
	branch = microtonic
