<template>
  <v-row>
    <v-col cols="3" class="text-center">
      <v-icon
        :color="color"
        x-large
      >
        mdi-{{ icon }}
      </v-icon>
      <br />
      <span class="text-no-wrap">{{ bars }} / {{ of }}</span>
      <br />
      {{ type }}
    </v-col>
    <v-col cols="9">
      <trend
        :data="history"
        :min="0"
        :max="25"
        smooth
        :gradient="gradient"
        gradientDirection="bottom"
        :style="graphStyle"
      />
    </v-col>
  </v-row>
</template>

<script>
  const history_minutes = 15;
  const updates_every_s = 5;
  const history_len = Math.round(60 / updates_every_s * history_minutes);

  import colors from "vuetify/lib/util/colors";

  export default {
    name: "CellularConnection",

    data: () => ({
      bars: 0,
      conn: null,
      g: null,
      gradient: [colors.red.base, colors.orange.base, colors.green.base],
      history: Array(history_len).fill(0),
      of: 5,
      type: "[loading]",
    }),

    props: {
      mqtt: { required: true, },
    },

    computed: {
      color() {
        if (this.conn === null || this.g === null) {
          return "";
        }
        if (this.conn === false || this.g < 3) {
          return "red";
        }
        if (this.g < 4) {
          return "orange";
        }
        return "green";
      },
      icon() {
        if (this.conn === false) {
          return "network-strength-off-outline";
        }
        const strength = Math.round(this.bars / this.of * 5);
        return `network-strength-${strength < 2 ? "outline" : strength-1}`;
      },
      graphStyle() {
        return `height: 100%; background-color: ${colors.blueGrey.base}20;`;
      },
    },

    created() {
      this.updateHandler = (data) => {
        for (let k of ["bars", "conn", "g", "of", "type"]) {
          if (k in data) {
            this[k] = data[k];
          }
        }
        if ("gq" in data) {
          if (this.history.length > history_len) {
            this.history.shift();
          }
          this.history.push(data.gq);
        }
       }
      this.mqtt.on("cellularConnection", this.updateHandler);
    },

    destroyed() {
      this.mqtt.off("cellularConnection", this.updateHandler);
    },
  }
</script>
