<template>
  <v-row>
    <v-col>
      <v-progress-linear
        v-model="usedPercent"
        :buffer-value="projectedPercent"
        :color="projectedPercent > 100 ? 'warning' : 'primary'"
        height="25"
        rounded
      >
        {{ usedPercent }}% (est.: {{ projectedPercent }}%)
      </v-progress-linear>
    </v-col>
  </v-row>
</template>

<script>
  export default {
    name: 'CellularUsage',

    data: () => ({
      usedPercent: 0,
      projectedPercent: 0,
    }),

    methods: {
    },

    props: {
      mqtt: { required: true, },
    },

    created() {
      this.updateHandler = (data) => {
        this.usedPercent = data?.data?.used_percent;
        this.projectedPercent = data?.data?.projected_percent;
       }
      this.mqtt.on("cellularUsage", this.updateHandler);
    },

    destroyed() {
      this.mqtt.off("cellularUsage", this.updateHandler);
    },
  }
</script>
