<template>
  <v-card
    outlined
    class="pa-2"
  >
    <v-row dense>
      <v-col>
        <CellularConnection
          :mqtt="mqtt"
        />
      </v-col>
    </v-row>
    <v-row dense>
      <v-col>
        <CellularUsage
          :mqtt="mqtt"
        />
      </v-col>
    </v-row>
  </v-card>
</template>

<script>
  import CellularConnection from "./CellularConnection";
  import CellularUsage from "./CellularUsage";

  export default {
    name: "Cellular",
    components: {
      CellularConnection,
      CellularUsage,
    },

    props: {
      mqtt: { required: true, },
    },
  }
</script>
