<template>
  <div class="pa-2">
    <div class="text-center">
      <v-icon
        x-large
        color="light-blue lighten-3"
        :style="iconStyle"
      >
        mdi-navigation
      </v-icon>
    </div>
    <div class="text-center text-caption">{{ course === null ? "?" : course }}&nbsp;°</div>
  </div>
</template>

<script>
  export default {
    name: "Compass",

    data: () => ({
      course: null,
    }),

    props: {
      mqtt: { required: true, },
    },

    computed: {
      iconStyle() {
        return `transform: rotate(-${this.course === null ? 0 : this.course}deg);`;
      },
    },

    created() {
      this.gnssHandler = (data) => {
        if ("course" in data) {
          this.course = Math.round(data.course);
        }
      };
      this.mqtt.on("gnssDetailed", this.gnssHandler);
    },

    destroyed() {
      this.mqtt.off("gnssDetailed", this.gnssHandler);
    },
  }
</script>
