<template>
  <v-card
    outlined
  >
    <v-row dense>
      <v-col :cols="2">
        <Compass :mqtt="mqtt" />
      </v-col>
      <v-col :cols="3">
        <Speed :mqtt="mqtt" />
      </v-col>
      <v-col>
        <Position
          :mqtt="mqtt"
        />
      </v-col>
    </v-row>
  </v-card>
</template>

<script>
  import Compass from "./Compass";
  import Position from "./Position";
  import Speed from "./Speed";

  export default {
    name: "Location",
    components: {
      Compass,
      Position,
      Speed,
    },

    props: {
      mqtt: { required: true, },
    },
  }
</script>
