<template>
  <div class="pa-2">
    <div class="text-subtitle-2">
      {{ locationName }}
    </div>
    <div v-if="lat !== null && lon !== null" class="text-body-2">
      {{ lat.toPrecision(6) }}, {{ lon.toPrecision(6) }}
      <span v-if="alt">({{ Math.round(alt) }}&nbsp;m)</span>
    </div>
  </div>
</template>

<script>
  function unwrap(obj, key) {
    if (key !== undefined) {
      if (!(key in obj)) {
        return null;
      }
      obj = obj[key];
    }
    obj = Array.isArray(obj) ? obj[0] : obj;
    return (typeof(obj) === "object" && "value" in obj) ? obj.value : obj;
  }

  export default {
    name: "Position",

    data: () => ({
      alt: null,
      lat: null,
      lon: null,
      locationName: "[location name unknown]",
      weather: null,
    }),

    props: {
      mqtt: { required: true, },
    },

    created() {
      this.gnssHandler = (data) => {
        for (let k of ["alt", "lat", "lon"]) {
          if (k in data) {
            this[k] = data[k];
          }
        }
      };
      this.weatherHandler = (data) => {
        this.weather = data;
        const area = unwrap(data, "nearest_area");
        const place = [unwrap(area, "areaName"), unwrap(area, "region"), unwrap(area, "country")];
        this.locationName = place.join(", ");
      };
      this.mqtt.on("gnssDetailed", this.gnssHandler);
      this.mqtt.on("weatherReport", this.weatherHandler);
    },

    destroyed() {
      this.mqtt.off("gnssDetailed", this.gnssHandler);
      this.mqtt.off("weatherReport", this.weatherHandler);
    },
  }
</script>
