<template>
  <div class="pa-2">
    <div :class="`text-center text-h4 text-no-wrap ${color ? `${color}--text` : ''}`">{{ speed === null ? "?" : Math.round(speed) }}</div>
    <div class="text-center text-caption">km/h</div>
  </div>
</template>

<script>
  export default {
    name: "Speed",

    data: () => ({
      speed: null,
    }),

    props: {
      mqtt: { required: true, },
    },

    computed: {
      color() {
        if (!this.speed) {
          return "grey";
        }
        for (let [limit, color] of Object.entries({
            7: "purple",
           30: "green",
           40: "teal",
           50: "amber",
           70: "orange",
          100: "blue",
        })) {
          if (this.speed <= limit) {
            return color;
          }
        }
        return "red";
      },
    },

    created() {
      this.gnssHandler = (data) => {
        if ("speed" in data) {
          this.speed = data.speed;
        }
      };
      this.mqtt.on("gnssDetailed", this.gnssHandler);
    },

    destroyed() {
      this.mqtt.off("gnssDetailed", this.gnssHandler);
    },
  }
</script>
