<template>
  <v-app>
    <v-app-bar
      app
      dark
    >
      <v-toolbar-title>
        Glance
      </v-toolbar-title>

      <v-spacer />

      <v-btn
        icon
        @click="mqtt_connected = true"
      >
        <v-icon
          :color="mqtt_state == CONNECTED ? 'success' : 'warning'"
        >
          mdi-connection
        </v-icon>
      </v-btn>
    </v-app-bar>

    <v-main class="ma-4">
      <v-row :dense="$vuetify.breakpoint.xsOnly">
        <v-col cols="12" sm="6">
          <Cellular
            :mqtt="mqtt"
          />
        </v-col>
        <v-col cols="12" sm="6">
          <Location
            :mqtt="mqtt"
          />
        </v-col>
      </v-row>
      <v-snackbar
        v-model="have_error"
        timeout="5000"
      >
        <v-icon color="error" class="mr-2">mdi-alert</v-icon>
        {{ error_msg }}
      </v-snackbar>
    </v-main>
  </v-app>
</template>

<script>
import axios from "axios";
import { Client, CONNECTED, CONNECTING, DISCONNECTED } from "@/mqtt";
import Cellular from './components/Cellular';
import Location from './components/Location';

const mqtt = new Client();

export default {
  name: 'App',

  components: {
    Cellular,
    Location,
  },

  data: () => ({
    have_error: false,
    error_msg: null,
    mqtt,
    mqtt_state: DISCONNECTED,
  }),

  async created() {
    this.CONNECTED = CONNECTED;
    this.CONNECTING = CONNECTING;
    this.DISCONNECTED = DISCONNECTED;
    this.mqtt.on("statechange", this.mqttchange);
    this.mqtt.connect(process.env.VUE_APP_MQTT_URL || (await axios.get("/mqtt-url")).data);
  },

  destroyed() {
    this.mqtt.end();
  },

  methods: {
    display_error(err) {
      this.error_msg = err;
      this.have_error = true;
    },
    mqttchange(data) {
      console.log("MQTT state change:", data);
      this.mqtt_state = data.newState;
      if (data.error && data.error.message) {
        this.display_error(data.error.message);
      }
    },
  },
};
</script>
